<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width h=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">
    <script src="./scripts/index.js"></script>
</head>

<body>
    <script src="https://kit.fontawesome.com/6cbe364bbd.js" crossorigin="anonymous"></script>
    <nav>
        <div class="logo">JustW</div>
        <ul class="menu">
            <li><a href="#profile" class="menu-link">Home</a></li>
            <li><a href="#about" class="menu-link">About</a></li>
            <li><a href="#skill" class="menu-link">Skill</a></li>
            <li><a href="#" class="menu-link">Project</a></li>
            <li><a href="#" class="menu-link">Contact</a></li>
        </ul>
    </nav>
    <section id="profile">
        <div class="big-logo">W</div>
        <div class="section-text">
            <p class="section-text-1">Hello, I'm</p>
            <h1 class="name">Anh Vu</h1>
            <p class="section-text-2">Software Developer</p>
            <div class="moreBtn">
                <button class="dlBtn">Download CV</button>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="text-about">
            <p class="p1">Get to know more</p>
            <p class="p2">About me</p>
        </div>
        <div class="info">
            <img class="aboutImg" src="https://thriving-dragon-a3fcd9.netlify.app/assets/about-pic.png"
                alt="something in here">
            <div class="infoS">
                <div class="infoCard">
                    <div class="about-card">
                        <i class="fa-solid fa-graduation-cap" i></i>
                        <h3 class="titleInfo">Education</h3>
                        <p class="detail">Hanoi University of Natural <br> Resources and Environment</p>
                    </div>
                    <div class="about-card">
                        <i class="fa-solid fa-code"></i>
                        <h3 class="titleInfo">Experience</h3>
                        <p class="detail">99+ years<br> Development</p>
                    </div>
                </div>
                <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore omnis sapiente hic
                    odio quod voluptates alias nobis excepturi perspiciatis natus voluptatem exercitationem voluptas
                    quibusdam deserunt impedit libero rerum adipisci, quos nisi velit sunt! Quibusdam magni laborum
                    perspiciatis, eaque quos nobis?</p>
            </div>
        </div>
    </section>
    <section id="skill">
        <div class="text-about">
            <p class="p1">Explore my</p>
            <p class="p2">Skill</p>
        </div>
        <div class="skill-info">
                <div class="skillCards">
                    <div class="skillCard">
                        <h1 class="cardTitle">Languages</h1>
                        <!-- <div class="detailCard">
                            <i class="fa-brands fa-html5 fa-lg"> HTML / CSS(scss)</i>
                            
                        </div> -->
                    </div>
                    <div class="skillCard">
                        <h1 class="cardTitle">Frameworks</h1>
                        
                    </div>
                    <div class="skillCard">
                        <h1 class="cardTitle">Databases</h1>
                    </div>
                    <div class="skillCard">
                        <h1 class="cardTitle">Others</h1>
                    </div>
                </div>
        </div>
    </section>
</body>

</html>